doctype 5
html
  head
    title TIME-STORM: A Timestamp Microservice
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css")
  body
    div(class="container")
        h1 TIME-STORM: A Timestamp Microservice
        h2 Example usage:
        p https://fcc-time-storm-tdreid.c9users.io/September%2023,%202001
        p https://fcc-time-storm-tdreid.c9users.io/1001234567
        h2 Example output:
        p {"unix":"1001203200","natural":"September 23, 2001"}